tools/png2fofd
tools/colMO2TO
tools/exoraw
tools/snd6bit
tools/lwasm
tools/fdfs
tools/k7mofs
*.BIN
*.DAT
*.fd
*.m5
*.k5
*.m7
res
src*/*.txt
srcM5/*.exo2
srcM7/*.exo2
srcTO/PACKM3*.bin
tools/exomizer2/*.o
tools/exomizer2/exoraw
tools/lwtools-4.22/*/*.o
tools/lwtools-4.22/*/*.d
tools/lwtools-4.22/*/*.a
tools/lwtools-4.22/lwasm
